/* Resources: */

@import url("./Menu.css");

/* Styles: */

* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

body {

    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: var(--page-color);
    overflow: hidden;

}

#container {

    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: var(--main-color) var(--page-color);
    scroll-behavior: smooth;

}

#container header {

    height: 65px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 15px 30px 15px 30px;
    z-index: 2;

}

#container header nav {

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 25px;

}

#container header nav #access {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;

}

#container header nav button, #container header nav #access a {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: var(--neutral-color);
    padding: 5px;
    cursor: pointer;
    transition: 0.5s;

}

#container header nav #access a {

    text-decoration: none;

}

#container header nav button, #container header nav #access a, #container header nav #access:hover > a:not(:hover) {

    background-color: var(--page-color);
    border: 2px solid var(--neutral-color);
    color: var(--neutral-color);

}

#container header nav button:hover, #container header nav #access a:nth-child(2), #container header nav #access a:hover {

    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    color: var(--page-color);

}

#container main {

    height: auto;
    width: 100%;
    min-height: 100%;
    background-color: transparent;
    z-index: 1;

}

#alert {

    font-weight: bold;
    text-transform: uppercase;
    color: var(--main-color);

}