@{

    Layout = "_Layout";

    ViewData["Title"] = "Erro!";

}

@section CSS {

    <link rel="stylesheet" type="text/css" href="~/css/Erro.css" asp-append-version="true"/>

}

<!-- HTML -->

<section id="error">

    <figure> <img src="~/img/Favicon.png" alt="Ícone"> </figure>

    <h2> Página não encontrada! </h2>

</section>