<!DOCTYPE html>
<html lang="pt-br">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title> @ViewData["Title"] | Agenda Fatec </title>

        <link rel="stylesheet" href="~/Teste_Agenda_Fatec.styles.css" asp-append-version="true" />

        @await RenderSectionAsync("CSS", required: false)

        <script defer type="text/javascript" src="~/js/Global.js">  </script>

    </head>

    <body>

        <div id="blocker">

            <div id="menu">

                <figure> <img src="~/img/Logo.png" alt="Logo"> </figure>

                <button id="close-menu"> Fechar Menu </button>

                <nav>

                    <a asp-controller="Home" asp-action="Index"> Início </a>
                    <a href="#"> Salas </a>
                    <a asp-controller="Home" asp-action="Equipe"> Equipe </a>
                    <a asp-controller="Home" asp-action="Ajuda"> Ajuda </a>

                    <details>

                        <summary> Administração </summary>

                    </details>

                </nav>

            </div>

        </div>

        <div id="container">

            <header>

                <nav>

                    <button id="open-menu"> <i class="bx bx-menu">  </i> </button>

                    <div id="access">

                        <a asp-controller="Auth" asp-action="Cadastro"> Cadastro </a>
                        <a asp-controller="Auth" asp-action="Login"> Login </a>

                    </div>

                </nav>

            </header>

            <main>

                @RenderBody()

            </main>

        </div>

        @await RenderSectionAsync("Scripts", required: false)

    </body>

</html>