<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> @ViewData["Title"] | Agenda Fatec </title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Teste_Agenda_Fatec.styles.css" asp-append-version="true" />

    @await RenderSectionAsync("CSS", required: false)

    <script defer type="text/javascript" src="~/js/Global.js">  </script>

</head>

<body>

    <div id="blocker">

        <div id="menu">

            <figure> <img src="~/img/Logo.png" alt="Logo"> </figure>

            <button id="close-menu"> Fechar Menu </button>

            <nav>

                <a href="/Home/Index"> Início </a>
                <a href="#"> Salas </a>
                <a href="/Home/Equipe"> Equipe </a>
                <a href="/Home/Ajuda"> Ajuda </a>

                <details>

                    <summary> Administração </summary>

                </details>

            </nav>

        </div>

    </div>

    <div id="container">

        <header>

            <nav>

                <button id="open-menu"> <i class="bx bx-menu">  </i> </button>

                <div id="access">

                    <a href="#"> Cadastro </a>
                    <a href="#"> Login </a>

                </div>

            </nav>

        </header>

        <main>

            @RenderBody()

        </main>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>