@{

    // O Layout já é definido no arquivo _ViewStart.

    ViewData["Title"] = "Equipe de Desenvolvimento";

}

@section CSS {

    <link rel="stylesheet" type="text/css" href="~/css/Equipe.css" asp-append-version="true"/>

}

<!-- HTML -->

<section id="team">

    <h1> Equipe do Projeto </h1>

    <div class="developer">

        <figure style="filter: grayscale(100%);"> <img src="~/img/Equipe/Arthur.jpg" alt="Arthur"> </figure>

        <h2> Arthur Chagas da Costa </h2>

        <section class="contact">

            <a href="mailto:arthur.costa19@fatec.sp.gov.br"> <i class="bx bx-envelope">  </i> </a>
            <a href="https://github.com/arthurch-costa"> <i class="bx bxl-github">  </i> </a>
            <a href="https://www.linkedin.com/in/arthurch-costa"> <i class="bx bxl-linkedin-square">  </i> </a>

        </section>

    </div>

    <div class="developer">

        <figure> <img src="~/img/Equipe/Deivide.jpg" alt="Arthur"> </figure>

        <h2> Deivide Benedito dos Santos </h2>

        <section class="contact">

            <a href="mailto:deivide.santos01@fatec.sp.gov.br"> <i class="bx bx-envelope">  </i> </a>
            <a href="https://github.com/DeivideBS"> <i class="bx bxl-github">  </i> </a>
            <a href="https://github.com/DeivideBS"> <i class="bx bxl-linkedin-square">  </i> </a>

        </section>

    </div>

    <div class="developer">

        <figure> <img src="~/img/Equipe/Pablo.jpg" alt="Arthur"> </figure>

        <h2> Pablo Valentin </h2>

        <section class="contact">

            <a href="mailto:pablo.valentin@fatec.sp.gov.br"> <i class="bx bx-envelope">  </i> </a>
            <a href="https://github.com/PabloValentin94"> <i class="bx bxl-github">  </i> </a>
            <a href="https://www.linkedin.com/in/pablo-valentin/"> <i class="bx bxl-linkedin-square">  </i> </a>

        </section>

    </div>

    <div class="developer">

        <figure> <img src="~/img/Equipe/Pedro.jpg" alt="Arthur"> </figure>

        <h2> Pedro Henrique Lucatto </h2>

        <section class="contact">

            <a href="mailto:pedro.lucatto@fatec.sp.gov.br"> <i class="bx bx-envelope">  </i> </a>
            <a href="https://github.com/Pedro-Lucatto"> <i class="bx bxl-github">  </i> </a>
            <a href="https://github.com/Pedro-Lucatto"> <i class="bx bxl-linkedin-square">  </i> </a>

        </section>

    </div>

    <div class="developer">

        <figure> <img src="~/img/Equipe/Thiago.jpg" alt="Arthur"> </figure>

        <h2> Thiago Franca de Figueredo </h2>

        <section class="contact">

            <a href="mailto:thiago.figueredo@fatec.sp.gov.br"> <i class="bx bx-envelope">  </i> </a>
            <a href="https://github.com/thiagofjau"> <i class="bx bxl-github">  </i> </a>
            <a href="https://www.linkedin.com/in/tffjau/"> <i class="bx bxl-linkedin-square">  </i> </a>

        </section>

    </div>

    <div class="developer">

        <figure style="filter: grayscale(100%);"> <img src="~/img/Equipe/Vinicius.jpg" alt="Arthur"> </figure>

        <h2> Vinícius Cruz Cassemira </h2>

        <section class="contact">

            <a href="mailto:vinicius.cassemira@fatec.sp.gov.br"> <i class="bx bx-envelope">  </i> </a>
            <a href="https://github.com/ViniciusCassemira"> <i class="bx bxl-github">  </i> </a>
            <a href="https://www.linkedin.com/in/viniciuscassemira/"> <i class="bx bxl-linkedin-square">  </i> </a>

        </section>

    </div>

</section>